
nav a {
  display: flex;
  align-self: center;
  /* margin-bottom: 10px; */
}





/* .UserHome-mainDiv{
  display: grid;
  
  
} */


#MyProjects {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 2px;
  
  
}




#project-list {
  /* margin-left: 2rem; */
  width:90%;
  padding-left: 70px;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 25px;
  row-gap: 10px;
  
  
}




div.project-card {
  /* background-color: #75B066 ; */
  /* background-color: white; */
    border: 2px solid rgba(11, 88, 57, 0.313);
    box-shadow:
    inset 0 -2em 2em rgba(56, 106, 9, 0.349),
          0 0  0 1px rgba(123, 148, 59, 0.292),
          0.3em 0.3em 1em rgba(63, 149, 62, 0.436);
}




.profile-card{
  margin-left: 2px;
  width: 50%;
  display:block;
  width:70rem;
  margin: auto;
  background-color: rgba(136, 130, 17, 0.121);  
  backdrop-filter: blur(5px);
  border-radius: 12px;
  border: 1px solid rgba(170, 188, 214, 0.3);
}


#hero-img{
  width: 30rem;
  height: 30rem;
  border-radius: 2px;
}


#secondary-img{
  width: 15rem;
  height: 15rem;
  border-radius: 2px;
}

#profile-img{
  width: 20rem;
  height: 20rem;
  border-radius: 2px;
}

.all-forms{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-left: 10px;
 
  width: 60%;
  padding-bottom: 2px;


  background-color: rgba(162, 235, 160, 0.15);  
  backdrop-filter: blur(5px);
  border-radius: 12px;
  border: 1px solid rgba(170, 188, 214, 0.3);
}

.all-forms input, select, textarea {
  /* display: flex; */
  margin: 2px ;
  /* justify-content:baseline; */
  align-items:flex-start;
  padding: 3px;
  background-color: #eff4e9;
  border-radius: 4px;
  

}

.all-forms label {
  margin-right: 4px;
}


.all-forms button {
  margin-top: 10px;
}

.all-btn{
  display:flex;
  flex-direction: column;
  flex-flow: column;
  padding: 0.5rem 1rem .5rem 1rem;
  /* font-size: 1.25rem; */
  line-height: 1.5;
  border-radius: 10px;
  background-color: #9DB682;
  /* border-color: purple; */
}

.all-btn:hover{
  background-color: #7b9b52;
}

a {
  color: black;
  
}

h2{
  color: #062c00;
}

a:hover {
  background-color: #7b9b52;
}



.quote{
  display:block;
  width:30rem;
  font-size: 3em;
  text-shadow: 2px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #7b9b52;
}

nav{
  display: flex;
}