

/* .navbar{  
    border:solid 1px green;  
    display:inline-block;
    padding: 3rem;
}; */
nav {
    background-color: #4a843d;
    display: flex;
}



.navbar{  
    flex-basis: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    background-color: #4a843d;

}

.left-nav{
    display:flex;
    /* justify-content: space-between; */
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.right-nav{
    display:flex;
    /* flex-direction: column;
    flex-flow: column; */
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
 
    gap: 0.5rem;
}

.right-nav button {
    flex-direction: column;
}


.all-btn{
    display:flex;
    /* flex-direction: row;
    flex-flow: row; */
    padding: 0.5rem .5rem .5rem .5rem;
    align-items: center;
    line-height: 1;
    border-radius: 10px;
 
}

.all-btn a{
    text-decoration: none;

}

button.all-btn{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.login-btn:hover{
    background-color: #7b9b52;
}

a {
    color: black;
    
}

a:hover {
    background-color: #7b9b52;
}



/* h1{
    color: white;
    font-size: xx-large;
} */

nav img {
    
    opacity: 90%;
    border-radius: 20px;
}


nav{
    display: flex;
  }

nav.navbar {
    justify-content: space-between;
}